.pagination {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.pagination-wrapper {
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
}

.pagination-table {
    border-collapse: collapse;
    font-weight: bold;
    text-align: center;
    border: 1px solid #F6F5F5;
}

.paginationWrap tr.pagination td {
    border-right: 1px solid #F6F5F5;
}

.paginationWrap tr.pagination td:last-child {
    border: none;
}

.paginationWrap tr.pagination td a {
    display: block;
    text-decoration: none;
    width: 40px;
    height: 30px;
    padding: 5px;
    color: #2484cf;
}

.paginationWrap tr.pagination td a.active {
    background-color: #2484cf;
    color: white;
    width: 40px;
    padding: 5px;
}

.pagination-transition {
    font-size: 12px;
}