.evaluation-content {
    position: absolute;
    top: 3%;
    left: 55%;
    background-color: #305dff;
    border-radius: 5px;
    width: 40%;
    max-width: 400px;
    text-align: left;
}

.evaluation-content__header {
    color: #fff;
    font-size: 20px;
}

.evaluation-content__header {
    margin: 20px;
}

.evaluation-content__table{
    margin: 20px;
}

.evaluation-content__grade-title{
    width: 70px;
    color: #fff;
}

.evaluation-content__grade-label{
    position: relative;
}

.evaluation-content__grade-icon--on,
.evaluation-content__grade-icon--off{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.evaluation-content__grade-icon--on{
    position: absolute;
}

.evaluation-content__grade-input{
    display: none;
}

.evaluation-content__comment{
    width: 100%;
    padding: 20px;
    margin-bottom: 100px;
}

.evaluation-content__comment-input{
    width: 100%;
    resize: none;
    border: none;
    outline: none;
}

.evaluation-content__button-submit {
    cursor: pointer;
    border: none;
    border-radius: 0 0 5px 5px;
    color: #fff;
    background-color: #0738ff;
    width: 100%;
    padding: 15px;
}

@media screen and (max-width: 768px) {
    .evaluation-content {
        position: unset;
        margin: 0 auto;
        width: 70%;
        padding-top: 5px;
    }

    .evaluation-content__header{
        font-size: clamp(12px, 3vw, 20px);
        margin: 10px 20px 10px;
    }

    .evaluation-content__table{
        margin: 10px 20px 10px;
    }

    .evaluation-content__grade-title{
        font-size: clamp(12px, 2.5vw, 16px);
        width: 20vw;
    }

    .evaluation-content__grade-icon--on,
    .evaluation-content__grade-icon--off{
        max-width: 30px;
        max-height: 30px;
        width: 5vw;
        height: 5vw;
    }

    .evaluation-content__comment{
        margin-bottom: 2vw;
    }

    .evaluation-content__button-submit{
        font-size: clamp(12px, 2.5vw, 16px);
    }
}

