.header__inner {
    display: flex;
}

.management-header{
    display: flex;
}

.management-header__button{
    margin-right: 5px;
}
.management-header__button-submit,
.management-content-table__form-submit {
    background-color: #305dff;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 7px 15px;
    cursor: pointer;
    width: 100%;
    max-width: 150px;
    font-size: clamp(0.5rem, 0.324rem + 0.88vw, 1rem);
}

.management-content-table__form-submit{
    width: 70px;
    margin-right: 0;
}

.management-content {
    max-width: 1230px;
    margin: 0 auto;
    text-align: center;
}

.management-content__header{
    font-size: clamp(1rem, 0.648rem + 1.76vw, 2rem);
}

/* .management-content__back {
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #808080;
    font-size: 16px;
    padding: 2px 7px;
    vertical-align: middle;
    margin-right: 5px;
} */

.management-content-table {
    margin: 0 auto;
    margin-bottom: 20px;
}

.management-content-table__row {
    border-bottom: 1px solid #ddd;
}

.management-content-table__header {
    padding: 5px;
    font-size: clamp(0.5rem, 0.324rem + 0.88vw, 1rem);
}

.management-content-table__desc {
    padding: 10px 20px;
    font-size: clamp(0.5rem, 0.324rem + 0.88vw, 1rem);
}

.management-content__pagination {
    display: flex;
    justify-content: center;
}

.pagination {
    display: flex;
}

li {
    margin-right: 1px;
}

li:first-of-type {
    margin-right: 3px;
}

li:last-of-type {
    margin-left: 2px;
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    .management-header__button-submit,
    .management-content-table__form-submit {
        margin-right: 5px;
        padding: 5px 10px;
    }

    .management-content-table__form-submit {
        width: 10vw;
        max-width: 70px;
        margin-right: 0;
        padding: 5px;
    }

    .management-content-table__header {
        padding: 1vw;
    }

    .management-content-table__desc {
        padding: 10px 2vw;
    }
}