.edit-content {
    position: absolute;
    top: 3%;
    left: 55%;
    background-color: #305dff;
    border-radius: 5px;
    width: 35%;
    max-width: 400px;
    text-align: left;
}

.edit-content__header {
    color: #fff;
    font-size: 20px;
}


.edit-content__header {
    margin: 20px 0 0 20px;
}

.edit-content__name,
.edit-content__area,
.edit-content__genre{
    width: 80%;
    padding: 10px 20px;
    position: relative;
}

.edit-content__name-input,
.edit-content__area-select,
.edit-content__genre-select{
    border: none;
    outline: none;
    padding: 5px 10px;
    appearance: none;
    font-weight: bold;
    width: 100%;
    font-size: 12px;
    vertical-align: middle;
    border-radius: 3px;
}

.edit-content__select-icon {
    position: absolute;
    top: 50%;
    left: 84%;
    transform: translate(0%, -50%);
    width: 13px;
    height: 10px;
    pointer-events: none;
}

.edit-content__overview {
    width: 100%;
    padding: 20px;
    margin-bottom: 100px;
}

.edit-content__overview-input {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 5px;
}

.edit-content__button-submit {
    cursor: pointer;
    border: none;
    border-radius: 0 0 5px 5px;
    color: #fff;
    background-color: #0738ff;
    width: 100%;
    padding: 15px;
}

@media screen and (max-width: 768px) {
    .edit-content {
        position: unset;
        margin: 0 auto;
        width: 70%;
        padding-top: 5px;
    }

    .edit-content__header {
        font-size: clamp(14px, 2.5vw, 20px);
    }

    .edit-content__table-wrapper {
        margin-bottom: 50px;
    }

    .edit-content__error {
        height: 3vw;
        font-size: 2vw;
    }

    .edit-content__overview{
        margin-bottom: 10px;
    }

    .edit-content__overview-input{
        font-size: clamp(10px, 2vw, 12px);
    }

    .edit-content__name,
    .edit-content__area,
    .edit-content__genre{
        margin-bottom: 0;
        padding: 5px 20px;
        width: 50vw;
        max-width: 300px;
        min-width: 220px;
    }

    .edit-content__name-input,
    .edit-content__area-select,
    .edit-content__genre-select{
        font-size: clamp(10px, 2vw, 12px);
    }

    .edit-content__button-submit{
        font-size: clamp(10px, 2vw, 12px);
    }
}